<!-- <app-admin-header></app-admin-header> -->
<!-- <ul>
    <li><a routerLink="/admin/airline">Airlines</a></li>
    <li><a routerLink="/admin/schedule">Flight Schedule</a></li>
</ul> -->

<div class="border-3 border-blue-500 h-fit m-2 px-5 py-2 border-round h-10rem">
  <div class="flex flex-column justify-content-center  align-items-center">
    <div class="border-3 border-blue-500 h-fit m-2 px-5 py-2 border-round">
      <a routerLink="/admin/airline" class="font-bold text-lg">Manage Airlines</a>
    </div>
    <div class="border-3 border-blue-500 h-fit m-2 px-5 py-2 border-round">
      <a routerLink="/admin/schedule" class="font-bold text-lg">Manage Flight Schedule</a>
    </div>
  </div>
</div>
