<div *ngIf="schedule" class=" border-3 border-blue-500 h-fit px-5 py-2 border-round">
  <p><strong>Source : </strong>{{ schedule.source }}</p>
  <p><strong>Destination : </strong>{{ schedule.destination }}</p>
  <p><strong>Airline : </strong>{{ schedule.airline }}</p>
  <p><strong>Flight Number : </strong>{{ schedule.flightNumber }}</p>
  <p><strong>Flight Type : </strong>{{ schedule.flightType }}</p>
  <p><strong>Date : </strong>{{ schedule.date }}</p>
  <p><strong>Time : </strong>{{ schedule.time }}</p>
  <p><strong>Fare : </strong>{{ schedule.fare }}</p>
</div>
