<div *ngIf="booking" class=" border-3 border-blue-500 h-fit px-5 py-2 border-round">
    <p><strong>PNR : </strong>{{ booking.bookingId }}</p>
    <p><strong>From : </strong>{{ booking.source }}</p>
    <p><strong>To : </strong>{{ booking.destination }}</p>
    <p><strong>Airline : </strong>{{ booking.airline }}</p>    
    <p><strong>Departure Date : </strong>{{ booking.date }}</p>
    <p><strong>Departure Time : </strong>{{ booking.time }}</p>
    <p><strong>No. of Seats : </strong>{{ booking.seats }}</p>
    <p><strong>Meal Preference : </strong>{{ booking.mealPreference }}</p>
    <p><strong>Total Fare : </strong>{{ booking.fare }}</p>
    <p><strong>Status : </strong>{{ booking.status }}</p>
  </div>
  











      
      
      
      
      
      
      
      