<app-header></app-header>
<!-- <h1>{{title}}</h1>-->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-flightsearch></app-flightsearch>
<!-- <app-search-result></app-search-result> -->
<!-- <app-adminhome></app-adminhome> -->
<!-- <app-airline></app-airline> -->
<!-- <app-flightschedule></app-flightschedule> -->
<!-- <app-add-airline></app-add-airline> -->
<!-- <app-add-flight-schedule></app-add-flight-schedule> -->
<!-- <app-userhome></app-userhome> -->
<!-- <app-book-ticket></app-book-ticket> -->
<router-outlet></router-outlet>
<app-footer></app-footer>